<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="magemonkey_rma" id="magemonkey_rma">
			<module before="Magento_Backend" name="Magemonkey_RMA"/>
		</route>
	</router>
</config>
